/* ### flex ### */
.flex{
    display: flex;
}
.flex-d-row {
    flex-direction: row;
}
.flex-d-rowrev {
    flex-direction: row-reverse;
}
.flex-d-col {
    flex-direction: column;
}
.flex-d-colrev {
    flex-direction: column-reverse;
}

.flex-jc-center {
    justify-content: center;
}
.flex-jc-start {
    justify-content: flex-start;
}
.flex-jc-end {
    justify-content: flex-end;
}

.flex-gr-1{
    flex-grow: 1;
}
.flex-gr-2{
    flex-grow: 2;
}

.flex-gp-c-10px{
    column-gap: 10px;
}