@import url('css/variables.css');
@import url('css/clear.css');
@import url('css/dimensions.css');
@import url('css/flexbox.css');
@import url('css/grid.css');
@import url('css/padding.css');
@import url('css/margin.css');

/* 
  Main CSS begin
*/


.bg-black {
    background: var(--bg-primary-color);
}

.block {
    display: block;
}
.none {
    display: none;
}
body{
    background: #fafafa;
    font-family: 'Roboto';
}
:root div#container {
    background: #943A2B;
}

.colc-3{
    columns: 3;
}

/* ### padding ### */



div.icon > img {
    display: block;
    width: 128px;
    height: 128px;
}
div#preview > img {
    display: block;
    width: 256px;
    height: 256px;
}
div#queue > ul {
    padding: 25px ;
    color: #fafafa;
}

div#queue > ul > li:hover {
    background: #fafafa50;
}

div#queue > ul > li:active {
    background: #eee30d76;
}

div#queue {
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 15px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

div.title > p {
    font-weight:bold ;
    font-size: 32px;
}

div.title {
    align-self: end;
}
div.artist {
    align-self: start;
}
div.artist > p {
    font-size: 24px;
}
/**/
div#center_pane {
    color: #fafafa;
}
div#title > p {
    font-weight:bold ;
    font-size: 32px;
}
div#artist {
    align-self: center;
}
div#artist > p {
    font-size: 24px;
}

.acenter{
    align-self: center;
}

.active { 
    background-color: #63332b;
}