@import url('css/variables.css');
@import url('css/clear.css');
@import url('css/dimensions.css');
@import url('css/flexbox.css');
@import url('css/grid.css');
@import url('css/padding.css');

/* 
  Main CSS begin
*/


.bg-black {
    background: var(--bg-primary-color);
}

.block {
    display: block;
}
body{
    background: #fafafa;
    font-family: 'Roboto';
}
:root div#container {
    background: #943A2B;
}

.colc-3{
    columns: 3;
}

/* ### padding ### */
.p-10{
    padding: 10px;
}
.p-50{
    padding: 50px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
.mb-20{
    margin-bottom: 20px;
}

.mb-25{
    margin-bottom: 25px;
}


div.icon > img {
    display: block;
    width: 128px;
    height: 128px;
}
div#preview > img {
    display: block;
    width: 256px;
    height: 256px;
}
div#queue > ul {
    padding: 25px ;
    color: #fafafa;
}

div#queue > ul > li:hover {
    background: #fafafa50;
}

div#queue > ul > li:active {
    background: #eee30d76;
}

div#queue {
    overflow-y: hidden;
    border-radius: 5px;
}

div.title > p {
    font-weight:bold ;
    font-size: 32px;
}

div.title {
    align-self: end;
}
div.artist {
    align-self: start;
}
div.artist > p {
    
    font-size: 24px;
}

/* ------------ */

/* li > div.next-media {
    b
} */